<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <style>
        .certi-item {
    max-width: 90%; /* Ensures the image never exceeds the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes any inline spacing around the image */
    margin: 0 auto; /* Centers the image horizontally if needed */
}

    </style>
</head>

<body class="resume-page">

    <%- include('./partials/nav') %>

        <main class="main">

            <!-- Resume Section -->
            <section id="resume" class="resume section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Journey</h2>
                    <p>Explore my journey of achievements, from my early steps in school to milestones in college, showcasing growth, dedication, and a passion for excellence.</p>
                </div><!-- End Section Title -->

                <div class="container">

                    <div class="row">
                        <div class="col-lg-1"></div>

                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">


                            <h3 class="resume-title">Academic achievements</h3>
                            <div class="resume-item">
                                <h4>Bachelor's of Engineering</h4>
                                <h5>2022 - 2026</h5>
                                <p><em>Faculty of Technology and Engineering</em></p>
                                <p>The Maharaja Sayaji Rao University Of Baroda</p>
                                <p><b>CGPA : </b>9.23</p>

                                <h5>Have been awarded MSU Vision Topper award and Dewang Mehta's cerificate of excellence</h5> <br>

                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/visioncerti.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/dewang.jpg" alt="img" class="certi-item"></p>

                                <h5>Glimpses : </h5>
                                <p><img src="/assets//img/vision2.jpg" alt="" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>Higher Secondary Education</h4>
                                <h5>2022</h5>
                                <p><em>Parth School of Science and competition</em></p>
                                <p><b>Percentage : </b>88%</p>
                                <p><b>256 <sup>th</sup></b> ACPC rank</p>
                                <h5>Recognized for outstanding performance and contribution by Parth School. This recognition was featured on Spark Today, showcasing the achievement at a broader level.</h5>
                                <video src="/assets/img/parth.mp4" class="certi-item" controls></video>
                            </div><!-- Edn Resume Item -->


                            
                            <div class="resume-item">
                                <h4>Secondary Education</h4>
                                <h5>2020</h5>
                                <p><em>Zenith High School</em></p>
                                <p><b>Percentage : </b>89%</p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>9 <sup>th</sup> standard</h4>
                                <h5>Secured highest marks in Mathematics and Hindi</h5> <br>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/9th1.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/nineth1.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>8 <sup>th</sup> standard</h4>
                                <h5>Secured 3 <sup>rd</sup> rank and highest marks in Hindi</h5>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/8th1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/8th2.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/eigth1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/eigth2.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>7 <sup>th</sup> standard</h4>
                                <h5>Secured 2 <sup>nd</sup> rank and highest marks in Mathematics</h5> <br>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/7th1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/7th2.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/seventh1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/seventh2.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>6 <sup>th</sup> standard</h4>
                                <h5>Secured 1 <sup>st</sup> rank and highest marks in Mathematcis, Science, Social Studies and Gujarati</h5>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/6th1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/6th2.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/sixth1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/sixth2.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>5 <sup>th</sup> standard</h4>
                                <h5>Secured 1 <sup>st</sup> rank and highest marks in Mathematics, Science and Hindi</h5>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/5th1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/5th2.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/fifth1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/fifth2.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>4 <sup>th</sup> standard</h4>
                                <h5>Secured 1 <sup>st</sup> rank and highest marks in Social Studies and Gujarati</h5>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/4th1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/4th2.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/fourth1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/fourth2.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>3 <sup>rd</sup> standard</h4>
                                <h5>Secured 3 <sup>rd</sup> rank</h5> <br>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/3rd1.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/third1.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>2 <sup>nd</sup> standard</h4>
                                <h5>Secured 2 <sup>nd</sup> rank and highest marks in Environmental Science</h5>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/2nd1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/2nd2.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/second1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/second2.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>1 <sup>st</sup> standard</h4>
                                <h5>Secured 3 <sup>rd</sup> rank and highest marks in Environmental Science</h5>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/1st1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/1st2.jpg" alt="img" class="certi-item"></p>

                                <h5>Shields : </h5>
                                <p><img src="/assets/img/first1.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/first2.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->


                        </div>

                        <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">


                            <h3 class="resume-title">Extra curriculum achievements</h3>

                            <div class="resume-item">
                                <h4>IT Wizard</h4>
                                <h5>Have been awarded with certificate of IT wizard</h5> <br>
                                
                                <h5>Certificates : </h5>
                                <p><img src="/assets/img/8thniit.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/7thniit.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/6thniit.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/5thniiit.jpg" alt="img" class="certi-item"></p>
                                <p><img src="/assets/img/4thniit.jpg" alt="img" class="certi-item"></p>                            
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>8 <sup>th</sup> standard</h4>
                                <h5>Secured 1 <sup>st</sup> rank in Maths quiz</h5>
                                
                                <h5>Certificate : </h5>
                                <p><img src="/assets/img/8thquiz.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>7 <sup>th</sup> standard</h4>
                                <h5>Received the level completion certificate of UCMAS</h5>
                                
                                <h5>Certificate : </h5>
                                <p><img src="/assets/img/ucmas.jpg" alt="img" class="certi-item"></p>
                                <h5>Received gold medal in inter school UCMAS competition</h5>
                                
                                <h5>Medal : </h5>
                                <p><img src="/assets/img/ucmasmedal.png" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>4 <sup>th</sup> standard</h4>
                                <h5>Awarded for hand writing competition</h5>
                                
                                <h5>Certificate : </h5>
                                <p><img src="/assets/img/4thhand.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>3 <sup>rd</sup> standard</h4>
                                <h5>Secured 1 <sup>st</sup> rank in dictation competition</h5> <br>
                                
                                <h5>Certificate : </h5>
                                <p><img src="/assets/img/3rddictation.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>2 <sup>nd</sup> standard</h4>
                                <h5>Secured 2 <sup>nd</sup> rank for clay modelling</h5>
                                
                                <h5>Certificate : </h5>
                                <p><img src="/assets/img/2ndclay.jpg" alt="img" class="certi-item"></p>
                            </div><!-- Edn Resume Item -->
                        </div>
                    </div>
                </div>
            </section><!-- /Resume Section -->

        </main>

        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Preloader -->
        <div id="preloader"></div>

        <%- include('./partials/foot') %>

</body>

</html>