<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body class="resume-page">

    <%- include('./partials/nav') %>

        <main class="main">

            <!-- Resume Section -->
            <section id="resume" class="resume section">

                <!-- Section Title -->
                <div class="container section-title" data-aos="fade-up">
                    <h2>Resume</h2>
                    <p>A dynamic and adaptable individual with a strong foundation in computer science and hands-on
                        experience in developing innovative web applications, seeking opportunities to contribute and
                        grow in a professional environment.</p>
                </div><!-- End Section Title -->

                <div class="container">

                    <div class="row">
                        <div class="col-lg-2"></div>

                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">


                            <h3 class="resume-title">Education</h3>
                            <div class="resume-item">
                                <h4>Bachelor's of Engineering</h4>
                                <h5>2022 - 2026</h5>
                                <p><em>Faculty of Technology and Engineering</em></p>
                                <p>The Maharaja Sayaji Rao University Of Baroda</p>
                                <p><b>CGPA : </b>9.23</p>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>Higher Secondary Education</h4>
                                <h5>2022</h5>
                                <p><em>Parth School of Science and competition</em></p>
                                <p><b>Percentage : </b>88%</p>
                                <p><b>256 <sup>th</sup></b> ACPC rank</p>
                            </div><!-- Edn Resume Item -->


                            <div class="resume-item">
                                <h4>Secondary Education</h4>
                                <h5>2020</h5>
                                <p><em>Zenith High School</em></p>
                                <p><b>Percentage : </b>89%</p>
                            </div><!-- Edn Resume Item -->

                        </div>

                        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                            <h3 class="resume-title">Skills</h3>
                            <div class="resume-item">
                                <h4>HTML</h4>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>CSS</h4>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>JavaScript</h4>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>Node.JS</h4>
                            </div><!-- Edn Resume Item -->


                            <div class="resume-item">
                                <h4>React</h4>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>Express</h4>
                            </div><!-- Edn Resume Item -->


                            <div class="resume-item">
                                <h4>Java</h4>
                            </div><!-- Edn Resume Item -->

                            <div class="resume-item">
                                <h4>C/C++</h4>
                            </div><!-- Edn Resume Item -->


                            <div class="resume-item">
                                <h4>DBMS</h4>

                                <ul>
                                    <li>SQL</li>
                                    <li>NoSQL : MongoDB</li>
                                </ul>
                            </div><!-- Edn Resume Item -->

                        </div>

                    </div>

                </div>

            </section><!-- /Resume Section -->

        </main>

        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Preloader -->
        <div id="preloader"></div>

        <%- include('./partials/foot') %>

</body>

</html>